body {
  background: #006186;
  color: aliceblue;
  font-family: "Share Tech Mono", monospace;
  margin-top: 0;
}
.navbar {
  width: 100%;
  text-align: right;
  position: fixed;
  /* text-shadow: 2px 2px 5px black; */
  text-shadow: 1px 1px 1px rgb(40, 40, 40);
}
.links ul {
  list-style-type: none;
  padding: 16px 10px 0 10px;
  float: left;
  margin-top: 0;
}
.github-icon,
.linkedin-icon {
  width: 2rem;
  color: aliceblue;
}
.navlist {
  list-style-type: none;
  padding: 10px 25px 10px 35px;
}
.navlist li {
  display: inline;
  padding: 0 10px 0 10px;
}
.navlist a {
  text-decoration: none;
  font-size: 18px;
  color: aliceblue;
}
.navlist .resume-link-border {
  font-size: 20px;
  color: aliceblue;
}
.navlist .resume-link {
  color: #36454f;
  margin-left: 26px;
  margin-right: 40px;
}
.content {
  padding: 175px 15% 0 15%;
}
#about {
  border: 1px solid aliceblue;
  display: flex;
  /* height: 100%; */
  padding: 12px;
  border-radius: 1%;
  margin-bottom: 500px;
}
#about p {
  display: inline;
}
.intro-text {
  width: 44%;
  padding: 5%;
}

#about img {
}

.profile-pic {
  max-width: 350px;
  max-height: 350px;
  padding: 30px;
  padding-right: 0;
  margin-top: 81px;
  border-radius: 25%;
}

#experience,
#projects {
  border: 1px solid aliceblue;
  height: 100%;
  padding: 12px;
  border-radius: 1%;
  margin-bottom: 500px;
}

#projects a,
#about a {
  text-decoration: none;
  color: aqua;
}

#projects h2,
#experience h2 {
  margin-top: 0;
}

.project-description,
.experience-description {
  margin-left: 20px;
}
