---
---

@import "{{ site.theme }}";

a#forkme_banner {
  display: none;
}

header h2 {
  padding-top: 5px;
}

footer {
  p { 
    visibility: hidden;
  }
  
  > span.octocat { 
    margin-top: -28px;
  }
}
