---
---

@import "{{ site.theme }}";

#forkme_banner {
  display: none;
}

.ribbon-inner {
  h2 {
    padding-top: 5px;
  }
}

footer {
  p { display: none; }
  .octocat { margin-top: 4px; }
}
